section#calendar
  header
    h2
      span.bold Upcoming&nbsp;
      span.light Events
  .calendar-container
    ul.events
      each evt in calendar.events
        li.event(data-event-time="#{evt.time}")
          .event-container
            .event-date= evt.date
            .event-info
              .event-name= evt.name
              .event-place= evt.place
          .countdown-container
            .countdown
              .days
                .counter --
                .label Days
              .hours
                .counter --
                .label Hours
              .minutes
                .counter --
                .label Minutes
              .seconds
                .counter --
                .label Seconds
            .event-info
              .event-name= evt.name
              .event-place= evt.place
