header#header
  .thumbnail-container
    a(href="#{header.thumbnail.href}")
      img(src="#{header.thumbnail.src}" alt="#{header.thumbnail.alt}" width="#{header.thumbnail.width}" height="#{header.thumbnail.height}")
  nav
    ul
      each link in social.links
        li
          a(href="#{link.href}")
            i(class="#{link.icon}")
            span= link.label
