section#releases
  header
    h2
      span.bold Latest&nbsp;
      span.light Releases
  .releases-container
    each img in releases.images
      .release
        img(src="#{img.src}" alt="#{img.alt}" width="#{releases.width}" height="#{releases.height}")
        .release-label= img.label
